# Dependencias
node_modules/

# Build
dist/
build/

# Variables de entorno (NUNCA subir al repositorio)
.env
.env.local
.env.development
.env.production

# TypeORM
src/database/migrations/*.js

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
coverage/

# NestJS
.nest/
